@{
    ViewBag.Title = "Home Page";
}

<h2>Employee Data</h2>

<div class="row">
    <div class="col-md-2">輸入電腦編號</div>
    <div class="col-md-3"><input type="text" id="txtEmpNo" value="" /></div>
    <div class="col-md-3"><input type="button" id="btnSearch" class="btn btn-primary" value="查詢" onclick="GetEmpData()" /></div>
    <div class="col-md-3"><a href="@Url.Action("Create")" id="btnAdd" class="btn btn-primary">新增</a></div>
    
</div>
<!-- 驗證裝部分檢視的地方 : -->
<div id="empDataList">
 
    </div>


@section Scripts {
    <script>
        $(function () {
            GetEmpData();
        });

        function GetEmpData() {
            var EmpNo = $('#txtEmpNo').val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EmpData")',
                data: { 'EmpNo': EmpNo },
                dataType: 'HTML',
                success: function(r) {
                $('#empDataList').html(r);
            },
                error: function (a, b, c) {
                    console.log(a);
                    console.log(b);
                    console.log(c);
                }
                })
        }

         function Delete(EmpNo) {
            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeletePost")',
                data: { 'EmpNo': EmpNo },
                
                success: function(r) {
                    if (r.IsSuccess) {
                        alert('ok');
                        GetEmpData();
                    }
                    else {
                        alert(r.Msg);
                    }
            },
                error: function (a, b, c) {
                    console.log(a);
                    console.log(b);
                    console.log(c);
                }
                })
        }
    </script>
}

